@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");

:root{
    --branco: #FFF;
    --cor-rodape:#F9F9F9;
    --cor-borda-rodape: #858585;
    --cor-de-fundo: #EBECEE;
    --cinza:#C4C4C4;
    --cinza-escuro:#474646;
    --preto:#000;

    --laranja: #EB9B00;
    --azul-medio:#326589;
    --azul-escuro: #002F52;

    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

    --fonte-principal:'Poppins',sans-serif;
    --fonte-logo: 'Josefin Sans',sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

input:hover{
    border-color: var(--laranja);
}