.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
    border-top: solid 1em var(--branco);
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topicos_item {
    background-color: var(--laranja);
    vertical-align: middle;
    text-align: center;
    padding: 1em;
    margin: .5em;
}

.topicos__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
}

@media screen and (min-width:1024px) {
    .topicos{
        padding: 2em 15vw;
    }
    .topicos__titulo, .topicos__link{
        font-size: 24px;
    }

    .topicos_item{
        transition: 400ms;
    }

    .topicos_item:hover{
        transform: scale(1.1);
        transition: 400ms;
    }

}

@media screen and (min-width:1728px) {
    .topicos{
        padding: 3em 30vw;
    }
    .topicos__titulo{
        font-size: 32px;
    }
}